global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    mode tcp               # Mặc định là TCP cho lõi PQC
    option tcplog
    timeout connect 10s
    timeout client 100s
    timeout server 100s

frontend pqc_frontend
    bind *:8080
    default_backend pqc_servers

backend pqc_servers
    balance roundrobin
    server node1 pqc_server_web:5000 check 

frontend api_gateway
    bind *:8090
    mode http              # Bắt buộc chuyển sang HTTP cho luồng này
    option httplog
    default_backend server_api_backend

backend server_api_backend
    mode http
    server node1 pqc_server_web:5001 check
